:root {
    --primary-color: #AB0C39;
    --secondary-color: #ED94AD;
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 1.2em;
}

button {
    padding: 1em;
    margin: 0.4em;
    background-color: var(--secondary-color);
    color:  var(--primary-color);
}

p.alarm-status {
    padding: 0.4em;
    transition: background-color 2s linear;
}
.alarm {
	background-color: var(--secondary-color);
    color: var(--primary-color);
    animation: alarm-blink 1s infinite;
    /* #EC8B8C */
}

@keyframes alarm-blink {
    from {
        background-color: var(--secondary-color);
        border-radius: 0px;
    }
    50% {
        background-color: #EC8B8C;
        border-radius: 8px;
    }
    to {
        background-color: var(--secondary-color);
        border-radius: 0px;
    }
}
